<% include partials/header %>

<div class="span9">
    <div class="content">
      <div class="table-responsive">
        <h4>Transactions History</h4>
       <div>
        <input class="span9 searchbox" id="search" type="textbox" placeholder="Type To Search">
       </div>
         <table id="mytable" class="table table-bordred table-striped">
          <thead>
           <th>User</th>
           <th>Transaction Date</th>
           <th>Transaction Amount</th>
           <th>Transaction Type</th>
           <th>Approved By</th>
          </thead>
    <tbody>
      <%  for (var i = users.length -1; i >= 0; i--) { %>
      <tr>
        <%var trans = users[i].transactions%>
        <% trans.forEach(function(transaction){ %>
        <td><%=transaction.owner%></td>
        <td><%= moment(transaction.date).format("dddd, MMMM Do YYYY, h:mm:ss a") %></td>
        <td><%=transaction.amount%></td>
        <td><%=transaction.type%></td>
        <td><%=transaction.sender%></td>
      </tr>
      <%}) %>
      <% } %>
    </tbody>
</table>
    <div class="module-foot">
     <div class="control-group controls clearfix">
       <ul class="pagination pull-right pages">
          <li class="disabled nav-li"><a href="#"><span class="icon-fast-backward"></span></a></li>
          <li class="active nav-li"><a href="#">1</a></li>
          <li class="nav-li"><a href="#">2</a></li>
          <li class="nav-li"><a href="#">3</a></li>
          <li class="nav-li"><a href="#">4</a></li>
          <li class="nav-li"><a href="#">5</a></li>
          <li class="nav-li"><a href="#"><span class="icon-fast-forward"></span></a></li>
        </ul>
     </div>
    </div>
  </div>
 
         
              </div>
            </div>
                      
            <!--/.span9-->
        </div>
    </div>
     <!--/.container-->
</div>
<!--/.wrapper-->

        
        
<% include partials/footer %>